
.icon-rss:before { content: '\e800'; } /* '' */
.icon-pi-outline:before { content: '\e801'; } /* '' */
.icon-pi:before { content: '\e802'; } /* '' */
.icon-calculator:before { content: '\e803'; } /* '' */
.icon-math-circled-empty:before { content: '\f01b'; } /* '' */
.icon-math-circled:before { content: '\f01c'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
