body{
    background-color: #1A1B2F;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.main-nav {
    display: flex;
    justify-content: end;
    margin-right: 4%;
}
.header {
    margin-top: 2%;
}

.header ul {
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header ul li a:hover {
    color: #E33E5A;
}

.header ul li {
    margin-left: 2%;
    font-size: 80%;
}

.logo {
    margin-right: auto;
    margin-top: -1%;
    margin-left: 6%;
    font-size: 48px;
}
.logo a {
    text-decoration: none;
    color: white;
}
.logo a span{
    float: left;
    font-weight: 700;
}

.active {
    background-color: #E33E5A;
    padding: 13px 15px;
    border-radius: 4%;
}
.active:hover{
    color:#C5C5C5!important;
}
h1 {
    display: flex;
    justify-content: center;
}

main{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    min-height: 100vh;
}

.section1 p {
    font-size: 21px;
}

.section1 img {
    padding: 1%;
}

footer {
    width:100%;
    background-color: black;
    padding: 8px 0px;
    text-align: center;
}
